

.main .box .sub-category > div {
  padding: 12px 0 0 2.1%;
  font-size: 18px;
}
.main .box .item {
  width: 20%;
  border: 1px solid #e4ecf3;
  box-shadow: 1px 2px 3px #f2f6f8;
  border-radius: 6px;
  background: #fff;
  padding: 10px;
  min-width: 200px;
  margin: 22px 0 0 2.1%;
  float: left;
  overflow: hidden;
  transition: all .3s;
}
.main .box .item:hover {
  transform: translateY(-5px);
}
.main .box .item .no-logo {
  color: #3273dc;
  font-weight: bold;
  font-size: 14px;
}
.main .box .item .logo {
  height: 40px;
  position: relative;
  font-size: 14px;
  font-weight: 700;
  color: #3273dc;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 .1rem;
}
.main .box .item .logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  vertical-align: middle;
}
.main .box .item .desc {
  color: gray;
  font-size: 12px;
  padding-top: 10px;
  height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}