html,body{
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}
body{
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items:center;
}
canvas{
	display: block;
}
