@charset "utf-8";/* gStar CSS */

.gStarPanel{
	position:absolute;
	width:1px; height:1px;
	font-size:1px;
}
.gStarPanel *{font-size:1px;}
.gStarPanel .u{
	/*display:none;*/
	position:absolute;
}
.gStarPanel .u img{
	border:none;
	width:100%; height:100%;
}


